* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./pexels-photo-386009.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    font-size: 50px;
    margin-top: 20px;
    padding: 10px;
    color:navy;
}
input{
    height: 45px;
    width: 250px;
    border-radius: 20px;
    border: none;
    background-color:skyblue;
    color: rgb(36, 36, 181);
    font-size: 30px;
    box-shadow: 2px 2px 2px 2px black;
    text-align: center;
}
button{
    margin-top: 10px;
    height: 50px;
    width: 170px;
    border: none;
    border-radius: 40px;
    font-size: 22.5px;
    background-color:goldenrod ;
    box-shadow: 5px 5px 5px 5px black;
}
button:hover{
    background-color:cornflowerblue;
    color: gold;
}
table{
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    border-color: cornflowerblue;
    background-color: navy;
    color: skyblue;
    margin-top: 20px;
}
tr:hover{
    background-color: gold;
    color: red;
}
@media only screen and (max-width: 500px) {
    body {
        overflow: hidden;
        background-image: url(./pexels-photo-386009.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    h1{
        font-size: 25px;
        margin-top: 7px;
        padding: 10px;
        color:navy;
        font-weight: bolder;
    }
    input{
        height: 35px;
        width: 175px;
        border-radius: 7px;
        border: none;
        background-color:skyblue;
        color: rgb(36, 36, 181);
        /* font-size: 30px; */
        box-shadow: 2px 2px 2px  black;
        text-align: center;
    }
    button{
        margin-top: 10px;
        height: 30px;
        width: 160px;
        border: none;
        border-radius: 7px;
        /* font-size: 22.5px; */
        background-color:goldenrod ;
        box-shadow: 2px 2px 2px black;
    }
    button:hover{
        background-color:cornflowerblue;
        color: gold;
    }
    table{
        margin-right: auto;
        margin-left: auto;
        border-color: cornflowerblue;
        background-color: navy;
        color: skyblue;
        margin-top: 10px;
    }
}